.card-right {
  width: 449px;
  height: 343px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
}
.card-right:nth-of-type(2) {
  width: 351px;
  height: 278px;
  margin-top: 26px;
}
