.slider__button {
  width: 237px;
  height: 68px;
  background: #e43071;
  border-radius: 38.5px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px; /* 231.25% */
  position: absolute;
  z-index: 2;
  top: 385px;
  left: 568px;
}
